.containermain {
  display: grid;
  grid-template-columns: 21% 58% 21%; /* Three columns, left ad, blog content, right ad */
}

.leftad,
.rightad {
  background-color: #ffffff;
}

.rightad {
  padding: 0px 10px;
}

.leftad {
  padding: 0px 0px 0px 10px;
  /* float: left; */
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.blogcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  background-color: #ffffff;
  border-left: 1px solid #e6e6e6; /* Adjusted border thickness */
  border-right: 1px solid #e6e6e6; /* Adjusted border thickness */
}
